%center

  %div{:style=> "margin: 100px 25px; display: inline-block;"}
    %h2 English
    = link_to image_tag("flag_en.png"), designer_path(:locale => "en"), :confirm => "Please insert your hand."
  %div{:style=> "margin: 100px 25px; display: inline-block;"}
    %h2 Polski
    = link_to image_tag("flag_pl.png"), designer_path(:locale => "pl"), :confirm => "Proszę włożyć rękę."
