%center
  %h1 Witamy w paznokciorobiarce!

  .language_button
    = link_to image_tag("gbflag.jpg"), new_hand_path, :confirm => t(:insert_flash)
    = link_to image_tag("plflag.gif"), new_hand_path(:locale => "pl"), :confirm => t(:insert_flash)
