%h1 Listing nails

%table
  %tr
    %th
    %th
    %th

  - @nails.each do |nail|
    %tr
      %td= link_to 'Show', nail
      %td= link_to 'Edit', edit_nail_path(nail)
      %td= link_to 'Destroy', nail, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Nail', new_nail_path
